 <!-- Header -->
 <header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/">Clipz</a>

      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks">
            <a class="px-2" href="#" (click)="openModal($event)">Login / Register</a>
          </li>
          <ng-template #authLinks>
            <li>
              <a class="px-2" routerLink="/manage" routerLinkActive="text-indigo-400" [routerLinkActiveOptions]="{ exact: true}" 
              
              [queryParams]="{sort : '1'}">
                Manage</a>
            </li>
            <li>
              <a class="px-2" routerLink="/upload" routerLinkActive="text-indigo-400" [routerLinkActiveOptions]="{ exact: true}" >Upload</a>
            </li>
            <li>
              <a class="px-2" routerLink="/" (click)="auth.logout($event)">
                Logout
              </a>
            </li>
          </ng-template>
            <li routerLinkActive="text-indigo-400">
              <a class="px-2" routerLink="/about" routerLinkActive="text-indigo-400">About</a>
            </li>
        </ul>
        <!-- Language Switcher -->
        <ul class="flex flex-row ml-auto">
          <li>
            <a href="#">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABDBAMAAACYZb3pAAAAHlBMVEUpQqK2q8384OL3qa/tKTkAI5Wrt9z////5t7ztKTlzpJCAAAAABXRSTlP++vjs1BQWlgsAAAAxSURBVHgBYmRAA4yKaAJCAugqQgHtyzENAAAAAiD7pzaDr4MfRVEURVGU36IoipK5FLWNJ6UFusbWAAAAAElFTkSuQmCC" 
                alt="en" width="22" height="14" class="inline-block">
              <span class="ml-1">English</span>
            </a>
          </li>
          <li style="display: none;">
            <a href="#">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABDBAMAAACYZb3pAAAAHlBMVEUpQqK2q8384OL3qa/tKTkAI5Wrt9z////5t7ztKTlzpJCAAAAABXRSTlP++vjs1BQWlgsAAAAxSURBVHgBYmRAA4yKaAJCAugqQgHtyzENAAAAAiD7pzaDr4MfRVEURVGU36IoipK5FLWNJ6UFusbWAAAAAElFTkSuQmCC" 
                alt="fr" width="22" height="14" class="inline-block">
                <span class="ml-1">French</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>